.App {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  background-color: #282c34;
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin: 0;
  padding: 1rem 0;
}

main {
  padding-top: 1rem;
}
